<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Edit</title>
</head>
<body>
<h1>Edit user</h1>
<form th:object="${user}" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:method="POST">
  <p>UserName: <input type="text" th:field="*{username}" th:value="*{username}"></p>
  <p>LastName: <input type="text" th:field="*{lastName}" th:value="*{lastName}"></p>
  <p>Department: <input type="text" th:field="*{department}" th:value="*{department}"></p>
  <p>Salary: <input type="number" th:field="*{salary}" th:value="*{salary}"></p>
  <p>Password: <input type="text" th:field="*{password}" th:value="*{password}"></p>
  <p><input type="submit" value="Edit"></p>
</form>
</body>
</html>

